width = 800px

html
  width 100%
  height 100%
  background #fff
  color #363636
  font-size 100.01%

body
  letter-spacing 0.1

header
  background #2E2C2A
  height 60px
  margin 0 0 40px
  text-align center

nav
  margin 0 auto
  width width

  ul

    li
      padding 0 15px 0
      float left

      a
        color #FAF5F1

#content
  margin 0 auto
  width width

footer
  margin 0 auto
  width width

h1, h2, h3, h4, h5, h6
  color: #222222

h2
  font-size 1.8em
  line-height .8em
  margin-bottom .7em

h3
  font-size 1.4em
  line-height 1
  margin-bottom .7em

h4
  font-size 1.2em
  margin-bottom .7em

h5
  font-size 1.1em
  margin-bottom .5em

p
  margin-bottom 1.5em
  line-height 1.4em

ul, ol
  padding-left 1.5em
  margin-bottom 1.5em

ul
  list-style-type disc

ol
  list-style-type decimal

li
  margin-bottom 0.5em

pre, code
  margin-bottom 1.5em
  font-family: Monospace

em
  font-style italic
