Click==7.0
Flask==0.10.1
Flask-Assets==2.0
Flask-Markdown==0.3
flask-paginate==0.5.5
Frozen-Flask==0.15
Jinja2==2.7.2
Markdown==3.1.1
MarkupSafe==1.1.1
Pygments==2.5.2
PyYAML==5.2
Unidecode==1.1.1
feedgen==0.9.0
pytz==2019.3
