CoffeeScript==1.0.8
Flask==0.10.1
Flask-FlatPages==0.5
Flask-Markdown==0.3
Jinja2==2.7.2
Markdown==2.4
MarkupSafe==0.18
PyExecJS==1.0.4
PyYAML==3.10
Pygments==1.6
Unidecode==0.04.14
Werkzeug==0.9.4
flask-coffee2js==0.1.2
flask-lesscss==0.9.1
flask-paginate==0.2.1
-e git+https://github.com/imiric/flask-sass.git#egg=flask-sass
itsdangerous==0.23
pyScss==1.2.0.post3
six==1.5.2
wsgiref==0.1.2
