<!DOCTYPE html>
<html>
  <head>
    <title>pwmt.org</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/pwmt.css') }}" rel="stylesheet">
    <link href="{{ url_for('pygments_css') }}" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link href="{{ url_for('recent_feed') }}" rel="alternate" title="Recent Changes" type="application/atom+xml">

    <!--[if lt IE 9]>
      <script href="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
      <script href="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-lg fa-th-large"></i>
          </button>
          <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img/logo.png') }}" />
            pwmt
          </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          {{ main_menu.render()|safe }}
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    {% block extrajs %}
    {% endblock %}
  </body>
</html>

