{% extends "layout.html" %}
{% import "utils.html" as utils %}

{% block content %}
<div class="project project-{{ project.name }}">
  <div class="page-title">
    <div class="container">
      <h1>{{ project.name }} <small>{{ project.description }}</h1>
    </div>
  </div>

  {% include "project-submenu.html" %}

  <div class="container page-content">
    <div class="row">
      <div class="col-sm-12">
        <h1>Downloads</h1>
        {{ utils.render_project_version_table(project) }}
        <p>
          Signatures (if available) can be verified using an OpenPGP implementation and the key <a href="https://db.debian.org/fetchkey.cgi?fingerprint=F78CBA07817BB149A11D339069F2FC516EA71993">F78C BA07 817B B149 A11D 3390 69F2 FC51 6EA7 1993</a>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
