<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>$title$ | pwmt.org</title>
    <link rel="shortcut icon" href=/img/fav.ico>
    <link rel=stylesheet href=/css/reset.css media=screen, projection>
    <link rel=stylesheet href=/css/style.css media=screen, projection>
    <link rel=stylesheet href=/css/highlighting.css media=screen, projection>
  </head>
  <body>
    <header class=clearfix>
      <nav>
        <ul id=menu>
          <li><a href=/>home</a></li>
          <li><a href=/about>about</a></li>
          <li><a href=/zathura>zathura</a></li>
          <li><a href=/girara>girara</a></li>
          <li><a href=/jumanji>jumanji</a></li>
          <li><a href=/contact>contact</a></li>
        </ul>
      </nav>
    </header>
    <div id=content class="clearfix $container$">
      $body$
    </div>
    <footer>
      <div class=right>
        &copy; Copyright 2012 pwmt.org
      </div>
    </footer>
  </body>
</html>
