<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>$title$ | pwmt.org</title>
    <link rel="shortcut icon" href=/img/fav.ico>
    <link rel=stylesheet href=/css/reset.css media=screen, projection>
    <link rel=stylesheet href=/css/style.css media=screen, projection>
    <link rel=stylesheet href=/css/highlighting.css media=screen, projection>
  </head>
  <body>
    <header class=clearfix>
      <nav>
        <ul id=menu>
          <li><a class=logo href=/>pwmt</a></li>
          <li><a href=/about><span>about</span></a></li>
          <li><a href=/news><span>news</span></a></li>
          <li><a href=/projects><span>projects</span></a></li>
          <li><a target=_href href=http://bt.pwmt.org><span>bug tracker</span></a></li>
        </ul>
      </nav>
    </header>
    <div id=main>
      <div id=sidebar>
          $sidebar$
        <div id=footer>
          <h2>Contact</h2>
          <ul>
            <li><a href="irc://irc.oftc.net/#pwmt">#pwmt@irc.oftc.net</a></li>
            <li><a target="_href" href="http://lists.pwmt.org">Mailing
              lists</a></li>
          </ul>
        </div>
      </div>
      <div id=content>
        $body$
      </div>
    </div>
  </body>
</html>
